# Programming with Python MOD007891 
## Assessment Element 010 ( Weighting = 100% )

# Section 1:  ( Analysis of Diabetic Patient Data ) - ( Weighting = 30% )

This dataset is originally from the **National Institute of Diabetes and Digestive and Kidney Diseases.** The dataset consist of several medical predictor **(independent)** variables and one target **(dependent)** variable, Outcome. 

Independent variables include:

- Number of times pregnant.
- Plasma glucose concentration a 2 hours in an oral glucose tolerance test.
- Diastolic blood pressure (mm Hg).
- Triceps skinfold thickness (mm).
- Two-Hour serum insulin (mu U/ml).
- Body mass index (weight in kg/(height in m)^2).
- Diabetes pedigree function.
- Age (years).
- Outcome: Class variable (0 or 1).

#### Upload the provided dataset (diabetes.csv) into your Jupyter Notebook working directory and then complete the following tasks.

In [50]:
import pandas as pd
df = pd.read_csv("Dataset/diabetes.csv")

In [51]:
# Let's look at the first few rows
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

### 1. Identify the total number of records?

### 2. Display data types for all columns?

### 3.  Check the dataset for the missing values?

### 4. Display descriptive statistics include those that summarize the central tendency, dispersion and shape of a dataset such as total count, min, max, standard deviation, max and quartiles?

As you probably have noticed, many columns have a **minimum value of 0** which is clearly not logical. Those are essentially **missing values** in our dataset.

### 5. Identify columns with missing values and find out their frequency?

### 6. Identify the number of positive and negative patients based on target (dependent) variable, outcome? Plot the frequencies using a bar chart?

### 7. Display correlation among all dependent and independent variables using the correlation matrix? Illustrate correlation data using a heatmap plot?

We have observed earlier that missing values in this dataset are represented by 0. This is clearly not a good practice and negatively impacts our data analysis.

### 8. Replace these zero values with NAN?

### 9. Check out the variables for 0 value once again?

### 10. Check out the missing values counts per variable?

### 11. Identify the mean value for each variable?

### 12. For the following columns, fill missing values with mean column values?  
- Glucose
- BloodPressure
- SkinThickness
- Insulin
- BMI

### 13. Display descriptive statistics and checkout the min values of the aforementioned columns once again? Any ZEROS ?

### 14. Check out the missing values counts per variable, once again?

### 15. Plot data distribution of each variable? Explain your thoughts

A Boxplot is a method for graphically depicting groups of numerical data through their quartiles.

### 16. Plot the Boxplot for each variable? interpret the diagrams

### 17. Plot demographic and distribution of diabetics/nondiabetics across age variable?

### 18. Investigate how the number of pregnancies impacts diabetes? Demonstrate the relationship with a plot.

### 19. Check if there are any outliers in our dataset. Any data point outside 25% and 75% quarters can be considered an outlier. Remove the outliers from our dataset.

### 20. Create a new categorical variable based on BMI using the following criteria. Name the new variable “BMI_tier” and add it to our dataset as a new column. 

- BMI = 0  then “NA”
- 0 < BMI < 18.5 then “Under Weight”
- 18.5 <= BMI < 25 then “Normal”
- 25 <= BMI < 30 then “Overweight” 
- 30 <= BMI then “Obese”

### 21. Plot the BMI_tier histogram ?

### 22. How many obese individuals exist in our dataset?  Use  Piechart to illustrate the proportion of each BMI tier?

### 23. Create a new categorical variable based on Oral Glucose Tolerance Test (Glucose) using the following criteria, suggested by DIABETES UK. Name the new variable “OGTT_tier” and add it to our dataset as a new column. 

- Glucose == 0 then “NA”
- Glucose < 140 then “Normal”
- 140 <= Glucose < 198 then “Impaired Glucose Tolerance”
- 198 <= Glucose then “Diabetic Level”

### 24.How many individuals are categorized as “Diabetic Level” in our newly created variable, “OGTT_tier”?  Plot the “OGTT_tier” histogram?

### 25. Out of those who categorized as “Impaired Glucose Tolerance”, how many of them are actually diabetes? What about those with “Normal” OGTT_tier?

# Section 2:  ( 2021  Tokyo Olympics ) - ( Weighting = 30% )

In this task we work with 2021 Tokyo summer Olympics dataset. This contains the details of over 11,000 athletes, with 47 disciplines, along with 743 Teams taking part in the 2021(2020) Tokyo Olympics. This dataset contains the details of the Athletes, Coaches, Teams participating as well as the Entries by gender. It contains their names, countries represented, discipline, gender of competitors, name of the coaches.

In [86]:
athlete_data = pd.read_excel("Dataset/Athletes.xlsx")
coach_data = pd.read_excel("Dataset/Coaches.xlsx")
gender_data = pd.read_excel("Dataset/EntriesGender.xlsx")
medal_data = pd.read_excel("Dataset/Medals.xlsx")
team_data = pd.read_excel("Dataset/Teams.xlsx")

In [ ]:
# Let's look at the first few rows for each table

In [87]:
athlete_data.head()

                Name     NOC           Discipline
0    AALERUD Katrine  Norway         Cycling Road
1        ABAD Nestor   Spain  Artistic Gymnastics
2  ABAGNALE Giovanni   Italy               Rowing
3     ABALDE Alberto   Spain           Basketball
4      ABALDE Tamara   Spain           Basketball

In [88]:
coach_data.head()

              Name            NOC  Discipline Event
0  ABDELMAGID Wael          Egypt    Football   NaN
1        ABE Junya          Japan  Volleyball   NaN
2    ABE Katsuhiko          Japan  Basketball   NaN
3     ADAMA Cherif  Côte d'Ivoire    Football   NaN
4       AGEBA Yuya          Japan  Volleyball   NaN

In [89]:
gender_data.head()

            Discipline  Female  Male  Total
0       3x3 Basketball      32    32     64
1              Archery      64    64    128
2  Artistic Gymnastics      98    98    196
3    Artistic Swimming     105     0    105
4            Athletics     969  1072   2041

In [90]:
medal_data.head()

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3

In [91]:
team_data.head()

      Name      Discipline                         NOC  Event
0  Belgium  3x3 Basketball                     Belgium    Men
1    China  3x3 Basketball  People's Republic of China    Men
2    China  3x3 Basketball  People's Republic of China  Women
3   France  3x3 Basketball                      France  Women
4    Italy  3x3 Basketball                       Italy  Women

### 1. Which countries do most athletes come from? Plot a descendingly ordered bar plot to show athletes counts based on their country of origin?

### 2. Which country has the most female athletes? Plot a descendingly ordered bar plot to show female athletes counts based on their country of origin?

### 3. Which country has the least female athletes?

### 4. Which sport is most popular (based on athletes counts)  and which country has the highest participants in it? Plot a descendingly ordered bar plot to show athlete counts in different sports?

### 5. Plot a descendingly ordered categorical bar plot to show gender segregated athlete counts in different sports.

### 6. Which sport has they highest proportion of male to female athletes? Plot a descendingly ordered bar plot to depict male to female athletes proportion across different sports.

### 7. Which country recieved most gold medals? Which recieved most silver and most bronze? Which received least for each? Use bar plot to for illustration.

### 8. Which country has the highest number of medals (Gold – Silver- Bronze) per capita (participants)?

### 9. List countries with no medals?

### 10. Which country had the greatest number of coaches. Plot a descendingly ordered bar plot to show coach counts in different countries.

### 11. Plot a descendingly ordered bar plot to show coach counts across different sports.

### 12. Identify the most popular coach, female and male athlete first name?

# Section 4:  ( Show Analysis ) - ( Weighting = 20% )

based on the provided show dataset, please answer the following questions:

### 1. Import the dataset in to your workspace as a data frame

### 2. Removed all duplicates and perform normal cleaning procedure if needed.

### 3. Changing datatype of date_added column to datetime so you can conduct time based analysis

### 4. Create 3 separate columns for week-day, month, and year based on the date_added column and name them month_added,	year_added, and	day_added respectively.

### 5. Group shows by their type and display the frequency of each type. Also, use a piechart to display show type percentage.

### 6. Display the number of shows that each director has ever directed along with the show type.

### 7. Display the top 10 most active directors.

### 8. Group shows based on country and type. Display their frequency too.

### 9. Identify countries with the highest number of show production (top 10). Display their show production frequency too. Beside table, use bar plot to articulate your findings.

### 10. Group shows based on the listed_in (genre) feature. Display their frequency too.

### 11. Identify the top 10 most popular genre based on the listed_in feature.

### 12. Use line plot to display show frequency per year segregated by show type.

# Section 3:  ( Chessboard ) - ( Weighting = 10% )

A chessboard is an eight-by-eight grid of squares. A queen is a chess piece that can
move on the chessboard any number of squares along any row, column, or diagonal.
A queen is attacking another piece if in a single move, it can move to the square the
piece is on without jumping over any other piece. (In other words, if the other piece is
in the line of sight of the queen, then it is attacked by it.) The eight queens problem
poses the question of how eight queens can be placed on a chessboard without any
queen attacking another queen.

![queens](queen.png)

To represent squares on the chessboard, we will assign each an integer row and an
integer column. We can ensure each of the eight queens is not on the same column
by simply assigning them sequentially the columns 1 through 8. The variables in our
constraint-satisfaction problem can just be the column of the queen in question. The
domains can be the possible rows (again, 1 through 8).

### Write a piece of code that prints out all the possible arrangements of eight queens on the chessboard. 
**Important:** Your code must be fully commented.

# Section 4:  ( Encryption ) - ( Weighting = 10% )

Encryption is the method by which information is converted into secret code that hides the information's true meaning. The science of encrypting and decrypting information is called cryptography.

In computing, unencrypted data is also known as plaintext, and encrypted data is called ciphertext. The formulas used to encode and decode messages are called encryption algorithms

In this task you need to create a simple transposition encryption algorithms where plaintext characters are re-arranged instead of replaced to encode a message. This algorithm  encodes a message by writing it down and up diagonally over successive rows as illustrated below. For example, the secret message **“THIS IS A SECRET MESSAGE”** encoded over 4 rails would look like this:

![queens](cipher.png)

We then create the ciphertext by reading off characters left to right, top to bottom. For our example message, the cipher text becomes:

**TATGHSSEMAEIIERESSCS**

Write a piece of code capable of **encrypting** and **decrypting** a message using the aforementioned technique.  Use the last digit (most right) of your **SID** as the encryption key.

Sample input plainText: **You speak an infinite deal of nothing.**

## Good Luck!